
    <!-- Features Section -->
    <section class="features" id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Features</h2>
                </div>
            </div>
            <hr class="star-primary">
            <div class="row">
                <div class="col-sm-4 feature">
                    <i class="fas fa-cogs fa-4x feature-icon"></i>
                    <h4 class="feature-header">{% t features.forms %}</h4>
                    <p class="feature-description">From simple to sophisticated, easily create forms right in the application</p>
                </div>
                <div class="col-sm-4 feature">
                    <i class="fas fa-tablet-alt fa-4x feature-icon"></i>
                    <h4 class="feature-header">{% t features.collect %}</h4>
                    <p class="feature-description">Collect data with ODK or SMS. No connection required</p>
                </div>
                <div class="col-sm-4 feature">
                    <i class="fas fa-globe-africa fa-4x feature-icon"></i>
                    <h4 class="feature-header">{% t features.multilang %}</h4>
                    <p class="feature-description">Use many different languages and dialects</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 feature">
                    <i class="fab fa-github fa-4x feature-icon"></i>
                    <h4 class="feature-header">100% Open Source</h4>
                    <p class="feature-description">Help us by <a href="http://github.com/thecartercenter/elmo">forking the project</a>  to take it in a new direction</p>
                </div>
                <div class="col-sm-4 feature">
                    <i class="fas fa-users fa-4x feature-icon"></i>
                    <h4 class="feature-header">Manage Users and Send SMS</h4>
                    <p class="feature-description">Create missions and easily manage and communicate with staff in the field</p>
                </div>
                <div class="col-sm-4 feature">
                    <i class="fas fa-chart-line fa-4x feature-icon"></i>
                    <h4 class="feature-header">Custom Reporting & Analysis</h4>
                    <p class="feature-description">Real-time reporting, analysis, and standardized reports to easily customize</p>
                </div>
            </div>
        </div>
    </section>