<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">
                <img src="/assets/img/elmo.png" class="navbar-img"/>
                <img src="/assets/img/nemo.png" class="navbar-img"/>
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#features">{{ lang.nav.features }}</a>
                </li>
                <li class="page-scroll">
                    <a href="#about">{{ lang.nav.about }}</a>
                </li>
                <li>
                    <a href="http://elmo-nemo.readthedocs.io">{{ lang.nav.documentation }}</a>
                </li>
                <li>
                    <a href="https://github.com/thecartercenter/elmo">{{ lang.nav.github }}</a>
                </li>

                <select class="select-language" id="select-language">
                    <option value="/" {% if page.url == '/' %} selected="selected" {% endif %}>{{ lang.english }}</option>
                    <option value="/fr" {% if page.url == '/fr/' %} selected="selected" {% endif %}>{{ lang.french }}</option>
                    <option value="/ar" {% if page.url == '/ar/' %} selected="selected" {% endif %}>{{ lang.arabic }}</option>
                </select>

            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>