.header-custom{
    background-image: url(../img/Ban3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 650px;
    padding-top: 300px;
    text-align: center;
    color: #fff;
    background-color: $primary;
    
    .container {
	    padding-top: 100px;
	    padding-bottom: 50px;
	}
	@media(min-width:768px) {
	    .container {
	        padding-top: 200px;
	        padding-bottom: 100px;
	    }
	}
	@media(max-width: 768px){
		height: 610px;
	}
}