.header-custom{
    background-image: url(../img/Ban3.jpg);
    background-repeat: no-repeat;
    background-position: bottom;
    height: 650px;
    padding-top: 300px;
}

header {
    text-align: center;
    color: #fff;
    background: $primary;
    .container {
	    padding-top: 100px;
	    padding-bottom: 50px;
	}
	img {
	    display: block;
	    margin: 0 auto 20px;
	}
	.intro-text{
		.name {
		    display: block;
		    text-transform: uppercase;
		    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
		    font-size: 2em;
		    font-weight: 700;
		}
		.skills {
		    font-size: 1.25em;
		    font-weight: 300;
		}
	}
	@media(min-width:768px) {
	    .container {
	        padding-top: 200px;
	        padding-bottom: 100px;
	    }

	    .intro-text{ 
	    	.name {
	        	font-size: 4.75em;
	    	}

	    	.skills {
	        	font-size: 1.75em;
	        }
	    }
	}
}  
