.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;

    a:focus {
        outline: 0;
    }
    .navbar-header{
        position: relative;
    }
    .navbar-nav {
        letter-spacing: 1px;
        li a:focus {
            outline: 0;
        }
        >.active>a{
            background-color: $secondary-dark !important;
        }
    }
    .navbar-img{
        height: 40px;
        position: absolute;
        top: 5px;
        &:nth-child(2){
            left: 150px;
        }
    }
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default{ 
    .navbar-nav>li>a{
        &:hover,&:focus{
            color: $orange-color;
        }
    }
    .navbar-toggle{
        border-color: white;
        &:hover, &:focus{
            background-color:$secondary;
            .icon-bar{
                background-color: $orange-color;
            }    
        }
    }
}

/* bootstrap edits */
.nav{
    >li{
        >a{
           padding: 19.5px 10px;
        }
    }
   
}

@media(min-width:768px) {
    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-fixed-top.navbar-shrink {
        padding: 10px 0;
    }

    .navbar-fixed-top.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}